body {
line-height:20px;
margin:0;
padding:10px;
color:black;
font-family:arial,helvetica,sans-serif;
font-size:13px;
}
h1, h2, h3 {
display:block;
padding:10px;
color:white;
font-size:17px;
font-weight:bold;
text-transform:uppercase;
border:soilid 1px #fff;
background:#710101;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
/*box-shadow:0 1px 2px rgba(0,0,0,0.25);
-moz-box-shadow:0 1px 2px rgba(0,0,0,0.25);
-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.25);*/
}
a {
color:red;
}
.code {
display:block;
overflow:auto;
overflow-Y:hidden;
margin:0;
padding:10px;
color:black;
font-family:georgia,serif;
background:#f0f0f0;
border:soilid 1px #ccc;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
/*box-shadow:0 1px 2px rgba(0,0,0,0.25);
-moz-box-shadow:0 1px 2px rgba(0,0,0,0.25);
-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.25);*/
}
.icon {
line-height:20px;
padding:6px 0 6px 30px;
background:url(img/info_24.png) no-repeat left center;
}
.iconbold {
line-height:20px;
padding:6px 0 6px 30px;
font-weight:bold;
background:url(img/info_24.png) no-repeat left center;
}
.left {
float:left;
margin-right:20px;
}
.clr {
clear:both;
}