
/* List */

/* General styling */
.rspbld-list ul {
	list-style: none;
	margin: 0;
}
.rspbld-list ul > li {
	display : table;
}
.rspbld-list.text-center ul > li {
	margin-left: auto !important;
	margin-right: auto !important;
}
.rspbld-list.text-left ul > li {
	margin-left: 0 !important;
	margin-right: auto !important;
}
.rspbld-list.text-right ul > li {
	margin-left: auto !important;
	margin-right: 0 !important;
}
.rspbld-list .rspbld-icon {
	background-color: transparent;
	color: inherit;
	font-size: 14px;
	margin: 0 5px 0 0;
	padding: 0px;
	vertical-align: top;
}
.rspbld-list .rspbld-icon i {
	display: block;
	height: 1em;
	width: 1em;
	text-align: center;
}
.rspbld-list .right .rspbld-icon {
	margin: 0 0 0 5px;
}
.rspbld-list .rspbld-icon-container, .rspbld-list .rspbld-content-container {
	display: table-cell;
	vertical-align: top;
}
/* End general styling */