
/* Personal Box */

/* General styling */
.rspbld-personal-box .rspbld-image {
	display: inline-block;
}
.rspbld-personal-box .rspbld-content {
	margin: 0px 0px 10px 0px;
}
.rspbld-personal-box .rspbld-social-icons {
	list-style: none;
	margin: 0;
	padding: 0;
}
.rspbld-personal-box .rspbld-social-icons > li {
	display: inline-block;
}
.rspbld-personal-box .rspbld-social-icons > li * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.rspbld-personal-box .rspbld-social-icons > li i {
	background-color: #87185b;
	color: #fff;
	font-size: 20px;
	height: 1em;
	margin: 0px 5px 0px 0px;
	padding: 5px;
	width: 1em;
	text-align: center;
}
/* End general styling */