.rspbld-portfolio-filtering .rspbld-filter {
	margin-left: 1%;
	display: inline-block;
}
.rspbld-portfolio-filtering .rspbld-filter li {
	list-style: none;
	display: inline-block;
	cursor: pointer;
	padding: 4px 8px;
	font-size: 14px;
}
.rspbld-portfolio-filtering .rspbld-filter li.active {
	opacity: .65;
}
.rspbld-portfolio-filtering-container {
	width: 100%;
	margin: 0 auto;
	display: block;
}
.rspbld-portfolio-filtering-container .filtr-item {
	margin: 0 !important;
}
.rspbld-portfolio-filtering-container .filtr-item:first-child {
	margin-left: 0;
}
.rspbld-portfolio-filtering-container .filtr-item  a {
	padding: 10px;
	display: block;
}
.rspbld-portfolio-filtering-container .filtr-item img {
	filter: grayscale(60%);
	transition: .5s linear;
}
.rspbld-portfolio-filtering-container .filtr-item .rspbld-title {
	margin: 0;
}
.rspbld-portfolio-filtering-container .filtr-item .rspbld-content {
	padding: 10px;
	margin: 0;
}
.rspbld-portfolio-filtering-container .filtr-item:hover img {
	filter: grayscale(0);
}

/* Custom grid sizes */
.rspbld-portfolio-filtering-container .grid_12 {
	width: 50%;
}
.rspbld-portfolio-filtering-container .grid_13 {
	width: 33.33%;
}
.rspbld-portfolio-filtering-container .grid_14 {
	width: 25%;
}
.rspbld-portfolio-filtering-container .grid_16 {
	width: 16.66%;
}

@media (min-width: 768px) and (max-width: 979px) {
	.rspbld-portfolio-filtering-container .grid_16 {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.rspbld-portfolio-filtering-container [class^="grid_"] {
		width: 100%;
	}
}
/* End Custom grid sizes */