
/* Testimonial Box */

/* General styling */
.rspbld-testimonial-box, .rspbld-testimonial-box .rspbld-content-container {
	overflow: hidden;
}
.rspbld-testimonial-box .rspbld-avatar.pull-left {
	margin: 0px 0px 0px 10px;
}
.rspbld-testimonial-box .rspbld-avatar.pull-left {
	margin: 0px 10px 0px 0px;
}
.rspbld-testimonial-box .rspbld-avatar img {
	height: 100%;
	width: 100%;
}
.rspbld-testimonial-box .rspbld-content i, .rspbld-testimonial-box .rspbld-content p {
	display: inline;
}
.rspbld-testimonial-box .rspbld-content .fa-quote-left {
	margin-right: 4px;
}
.rspbld-testimonial-box .rspbld-content .fa-quote-right {
	margin-left: 4px;
}
/* End general styling */