
/* Vertical Icon Box */

/* General styling */
.rspbld-vertical-icon-box .rspbld-icon {
	background-color: #080669;
	border-radius: 0px;
	color: #ffffff;
	display: inline-block;
	font-size: 20px;
	padding: 10px;
}
.rspbld-vertical-icon-box .rspbld-icon i {
	text-align: center;
	height: 1em;
	width: 1em;
}
.rspbld-vertical-icon-box .rspbld-button  {
	margin-top: 10px;
}
/* End general styling */