<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset name="general">
		<field name="type" type="hidden" default="rspbld_module" class="rspbld-input"/>
		<field name="category" type="hidden" default="basic_elements" class="rspbld-input"/>
	</fieldset>
	<fieldset name="options">
		<field name="title" type="text" default="Module Title" class="rspbld-input" label="COM_RSPAGEBUILDER_TITLE" description="COM_RSPAGEBUILDER_TITLE_DESC"/>
		<field name="title_show" type="radio" class="rspbld-field btn-group" default="1" label="COM_RSPAGEBUILDER_TITLE_SHOW" description="COM_RSPAGEBUILDER_TITLE_SHOW_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="title_heading" type="list" default="h2" class="rspbld-input" label="COM_RSPAGEBUILDER_TITLE_HEADING" description="COM_RSPAGEBUILDER_TITLE_HEADING_DESC">
			<option value="h1">COM_RSPAGEBUILDER_HEADING_H1</option>
			<option value="h2">COM_RSPAGEBUILDER_HEADING_H2</option>
			<option value="h3">COM_RSPAGEBUILDER_HEADING_H3</option>
			<option value="h4">COM_RSPAGEBUILDER_HEADING_H4</option>
			<option value="h5">COM_RSPAGEBUILDER_HEADING_H5</option>
			<option value="h6">COM_RSPAGEBUILDER_HEADING_H6</option>
		</field>
		<field name="title_font_size" type="text" class="rspbld-input" label="COM_RSPAGEBUILDER_TITLE_FONT_SIZE" description="COM_RSPAGEBUILDER_TITLE_FONT_SIZE_DESC"/>
		<field name="title_font_weight" type="list" class="rspbld-input" default="" label="COM_RSPAGEBUILDER_TITLE_FONT_WEIGHT" description="COM_RSPAGEBUILDER_TITLE_FONT_WEIGHT_DESC">
			<option value="">JNONE</option>
			<option value="bold">COM_RSPAGEBUILDER_BOLD</option>
			<option value="normal">COM_RSPAGEBUILDER_NORMAL</option>
		</field>
		<field name="title_text_color" type="color" class="rspbld-input color" label="COM_RSPAGEBUILDER_TITLE_TEXT_COLOR" description="COM_RSPAGEBUILDER_TITLE_TEXT_COLOR_DESC"/>
		<field name="title_margin" type="text" class="rspbld-input" label="COM_RSPAGEBUILDER_TITLE_MARGIN" description="COM_RSPAGEBUILDER_TITLE_MARGIN_DESC"/>
		<field name="title_padding" type="text" class="rspbld-input" label="COM_RSPAGEBUILDER_TITLE_PADDING" description="COM_RSPAGEBUILDER_TITLE_PADDING_DESC"/>
		<field name="module" type="moduleslist" label="COM_RSPAGEBUILDER_MODULE" description="COM_RSPAGEBUILDER_MODULE_DESC" default="1" class="rspbld-input" addfieldpath="administrator/components/com_rspagebuilder/models/fields"/>
		<field name="margin" type="text" class="rspbld-input" label="COM_RSPAGEBUILDER_MARGIN" description="COM_RSPAGEBUILDER_MARGIN_DESC"/>
		<field name="padding" type="text" class="rspbld-input" label="COM_RSPAGEBUILDER_PADDING" description="COM_RSPAGEBUILDER_PADDING_DESC"/>
		<field name="class" type="text" class="rspbld-input" label="COM_RSPAGEBUILDER_CSS_CLASS" description="COM_RSPAGEBUILDER_CSS_CLASS_DESC"/>
	</fieldset>
</form>